*{
    padding:0%;
    margin: 0%;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Montserrat', sans-serif ;
}
header{
    background-color: black;
}
.header ul{
    width:960px;
    display:flex;
    justify-content: space-between;
    padding:10px  15px ;
    margin:0 auto;
}
.header a{
    text-decoration: none;
    list-style: none;
    color:white;
    opacity: 0.7;

}
.header a:hover{
    opacity:1;
}
.logo-link{
    width:20px;
}


.all{
    text-align: center;
    padding: 25px 0;
    
}
.all ul li{
    list-style: none;
}
.all .model{
    font-size: 15px;
}
.all .product-title{
    font-size: 50px;
    font-weight: 700;

}
.all .brief-description{
    font-size: 25px;
    font-weight: 500;
    padding: 10px 0;
}

.all .price-wrapper{
    font-size: 12px;
    opacity: 0.6;
    padding-top: 10px;
}
.all .links-wrapper ul{
    display:flex;
    justify-content: center;
    gap: 90px;
    padding-top: 10px;
    padding-bottom: 6px;
    color:#06c ;
    font-size: 20px;
}
.all .links-wrapper ul li a:hover{
    color: black;

}
.all .links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}
.all .links-wrapper ul li a{
    text-decoration: none;
}
.second{
    background-image: url("../images/home/iphone11-pro-bg.jpg");
    height: 580px;
    color: white;
    background-position: center;
    text-align: center;
    padding: 60px 20px;
    background-repeat: no-repeat;
    background-size: cover;


    

}


footer{
    background-color: #f5f5f7 ;
    color: #1d1d1f;
    padding: 0 180px;
    font-size: 15px;
}
.column-1 a,.column-2 a,.column-3 a,.column-4 a,.column-5 a{
    text-decoration: none;
	color: #515154; 
    list-style: none;
}
.footer-links h3{
    padding-top: 25px;
    font-size: 15px;
    font-weight: 600;
}
.upper-text{
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding:15px 0 18px;
}
.upper-text a{
    text-decoration: none;
	color: #515154; 
    list-style: none;
}
.upper-text a:hover {
	text-decoration: underline;
}
.footer-links  {
    display: flex;
    justify-content: space-between;
    padding-bottom :22px;
}
.footer-links a{
    padding: 20px;
    font-size: 0.9em;
}
.footer-links a:hover{
    text-decoration: underline;
    
}
.footer-links ul li {
    list-style: none;
}
.my-apple-wrapper {
	border-bottom: 1px solid #d2d2d7;
	padding-bottom: 10px;
	margin-bottom: 10px; 
}
.copyright {
	display: flex;
    justify-content: space-between;
    padding: 10px 0 20px;
}
.footer-links-terms ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}

.footer-links-terms ul li a {
	text-decoration: none;
	color: #515154;
}
.footer-links-terms ul li a:hover {
	text-decoration: underline;
}
.footer-country {
	display: inline-block;
}
.flag-wrapper {
	display: inline-block;
	vertical-align: middle;
}
.footer-country-name{
	display: inline-block;
	vertical-align: top;
}
.footer-links-terms ul li a {
	text-decoration: none;
	color: #515154;
}
.footer-links-terms ul li a:hover {
	text-decoration: underline;
}
.footer-country {
	display:flex;
}
.flag-wrapper {
	vertical-align: middle;
}
.footer-country-name{
	vertical-align: top;

}
.bottom-footer{
    display: flex;
    justify-content: space-around;
}
.bootom-footer{
    padding-bottom: 100px;
}
        

